// Light
$cyan: #e5383b;
$darker-cyan: #a4161a;
$navy: #161a1d;
$navy-shadow: rgba(2,12,27,0.7);
$light-navy: #2b2d42;
$light-navy-2: #2b2d42;
$white: #e6f1ff;
$slate: #8892b0;

// Orange
// $cyan: #ee6c4d;
// $darker-cyan: #ee6d4dc9;
// $navy: #ffffff;
// $navy-shadow: rgba(211, 211, 211, 0.7);
// $light-navy: #ffffff;
// $light-navy-2: #ffffff;
// $white: #373a3d;
// $slate: #63697c;

// Dark
// $cyan: #64ffda;
// $navy: #0a192f;
// $navy-shadow: rgba(2,12,27,0.7);
// $light-navy: #112240;
// $light-navy-2: #1a2e4b;
// $white: #e6f1ff;
// $slate: #8892b0;

$sf-pro-regular: 'SF Pro Regular';
$sf-pro-bold: 'SF Pro Bold';
$sf-mono: 'SF Mono';
$sf-mono-bold: 'SF Mono Bold';