/*Pallete
Orange : #F38436
Gray : #DBDBDB
Gray 2 : #86878B
Black Brown : #333333
*/

body, html {
    height: 100%;
    margin: 0;
    background-color: #DBDBDB;
    max-width: 100%;
}
button {
  cursor: pointer;
}
.fly-right {
  opacity: 0;
  transition: 1s ease;
  transform: translateX(-20%);
}
.fly-left {
  opacity: 0;
  transition: 1s ease;
  transform: translateX(20%);
}
.fly-up {
  opacity: 0;
  transition: 1s ease;
  transform: translateY(20%);
}
.fly-down {
  opacity: 0;
  transition: 1s ease;
  transform: translateY(-20%);
}
.rotate {
  opacity: 0;
  transition: 1s ease-in-out;
  transform: rotate(180deg);
}
.show-block {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg);
}
/*----------------------Navbar----------------------*/
.navbar2{
  z-index: 99999; 
  width: 100%;
  max-height: 70px;
  background-color: black;
  overflow: hidden; 
}

.navbar2 ul {
  list-style-type: none;
  margin: 0 80px;
  padding: 0;
}

.navbar2 img{
  max-height: 30px;
  margin-top: 15px;
}
.navbar2 ul li{
  display: inline;
  margin-left: 50px;
  margin-right: 20px;
}

.navbar2 ul li a{
  float: right;
  color: white;
  font-family: 'Open Sans', 'serif';
  font-size: 15px;
  padding: 20px;
  text-decoration: none;
}

.navbar2 ul a:hover{
  color: #F38436;
  background-color: #333;
}

/*------------------------Header-----------------------*/
.header{
  height: 600px;
  position: relative;
  background-image: url("../img/header.png");
  background-size: contain;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
.header img{
  margin-top: 10%;
  z-index: 10;
}
.header p.title{
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 34px;
}

.header hr{
  border: none;  
  height: 3px;
  background-color: white;
}

.header p.subtitle{
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 17px;
}
.header .btn{
  margin-top: 60px;
}
.btndownload{
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border: 2px solid white;
}
.btndownload:hover{
  text-decoration: none;
  transition: 0.2s ease-in;
  background-color: white;
  color: #F38436;
}

.header .header2{
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  border-radius: 5px;
  top: 20%;
  left: 50%;
  background-color: white;
}
.header .regist-title{
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  background-color: #DBDBDB;
  font-size: 25px;
  color: #363636;
  font-weight: bold;
  
  font-family: 'Open Sans', sans-serif;
}
.header .warning{
  color: #FF9B51;
}
.header .form{
}

.input {
  padding: 30px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.input input{
  width: 100%;
  margin-top: 25px;
  font-size: 15px;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  outline: none;
}
.btn-submit {
  width: 100%;
  background-color: #F38436;
  border: none;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: white;
  transition: 0.2s ease;
}
.btn-submit:hover{
  background-color: #F59959;
}
/*--------------------------Social------------------------*/
.social .wrapper{
  z-index: 999999;
  background-color: white;
  padding: 20px 100px;
  border-bottom: 2px solid #929292;
  font-family: 'Open Sans';
}
.wrapper h2 {
  margin: 0;
  font-weight: bold;
  color: #242424;
}
.wrapper .row .col i {
  margin: auto 10px;
}
.col p {
  margin: 0;
  color: #929292;
}
.col a {
  
}
.col i {
  color: #929292;
  padding: 5px;
  font-size: 50px;
}
.col p:first-child {
  margin: 10px;
}
#social-icons a i {
  transition: 0.3s ease;
}
a[title="Facebook"] i:hover {
  color: #4867AA;
}
a[title="Twitter"] i:hover {
  color: #1DA1F2;
}
a[title="Google"] i:hover {
  color: #DC483C;
}
a[title="Pinterest"] i:hover {
  color: #BD081B;
}
a[title="Instagram"] i:hover {
  color: #242424;
}
a[title="Stumbleupon"] i:hover {
  color: #EB4823;
}
a[title="Feed"] i:hover {
  color: #EA5E09;
}

/*Tabs With Soft Transition
------------------------------------*/
.row {
  margin: 0;
}
.tabs-soft{
  width: 100%;
  margin: 0;
  height: 600px;
  padding: 50px 100px;
  padding-top: 150px;
}
.tabs-soft h4 {
  color: #333333;
  font-weight: bold;
}
.btn-tab {
  border: none;
  background-color: #333333;
  text-transform: uppercase;
  color: white;
  padding: 50px 20px;
}
.btn-tab:focus {
  outline: none;
}
.btn-tab.active {
  background-color: #F38436;
}
.btn-wrapper{

}
.tabs-soft .col-auto {
  width: 80%;
  border-radius: 5px;
}
.tabs-soft .col-auto button:not(:last-child) {
  border-bottom: 2px solid white;
}
.tabs-soft .col-auto button:first-child{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tabs-soft .col-auto button:last-child{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-download2 {
  border: none;
  background-color: #F38436;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-family: 'Open Sans';
  transition: 0.2s ease;
  border-radius: 5px;
}
.btn-download2:hover {
  background-color: white;
  color: #F38436;
  text-decoration: none;
}
.tab-pane {
  display: none;
}
img.active {
  display: block;
}
#img :not(.active){
  display: none;
}
/*Sublist Section
-------------------------------------*/
.subtext {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 22px;
}
.subtext:after{
  content: "";
  display: block;
  width: 20%;
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 25px;
  border-bottom: 2px solid #F38436;
}
.sub-list p.my-4 {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #333333;
}

.sub-list .media i {
  padding: 10px;
  color: #F38436;
  border: 2px solid #F38436;
  border-radius: 50%;
}

.sub-list .media-body h5 {
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 14px;
}
.sub-list .media-body p {
  font-size: 14px;
  font-family: 'Open Sans';
  color: #333333;
}

/*Standard Picture Section
---------------------------------------*/
.standard-picture p.my-4 {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #333333;
}
.standard-picture .row {
  overflow-x: hidden;
}

/*Why This is Awesome
----------------------------------------*/
.why-this .why-title {
  font-family: 'Raleway';
  text-align: center;
  font-size: 27px;
}
.why-this .why-title:after{
  content: '';
  display: block;
  position: relative;
  width: 5%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 20px;
  border-bottom: 2px solid #F38436;
}

.why-this .mt-5 p {
  font-family: 'Open Sans';
  color: #86878B;
}
.why-this .col-4  i {
  padding: 21px 27px;
  border: 2px solid #F38436;
  border-radius: 50%;
  font-size: 30px;
  color: #F38436;
}
.why-this .col-4 .text-center {
  font-family: 'Open Sans';
}

.why-this .col-4 .text-center h3 {
  font-weight: bold;
  font-size: 20px;
}
.why-this .col-4 .text-center p {
  font-size: 14px;
  color: #86878B;
}
i#keyboard {
  padding: 21px;
}
i#bolt {
  padding: 21px 28px;
}

/*Pricing Options
----------------------------------*/
.pricing-options {
  padding-bottom: 50px;
}
.pricing-options .title {
  font-family: 'Raleway';
  font-size: 27px;
  text-align: center;
}
.pricing-options .title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 20px;
  border-bottom: 2px solid #F38436;
  width: 5%;
}
.pricing-options .col-12 p.text-center {
  font-family: 'Open Sans';
  color: #86878B;
}
.pricing-options .price-title, .pricing-options .price-body {
  background-color: #333333;
  font-family: 'Open Sans';
}
.pricing-options .price-body {
  border-bottom: 5px solid #F38436;
}
.pricing-options .price-body h2 {
  font-weight: bold;
  font-size: 50px;
}

.pricing-options .price-title h4 {
  font-weight: bold;
}

.pricing-options p.font-italic {
  color: #86878B;
  font-weight: bold;
}
.pricing-options .price-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #86878B;
  font-family: 'Open Sans';
}
.pricing-options .price-details ul li {
  text-align: center;
  padding: 10px;
}
.pricing-options .price-details ul li:not(:last-child) {
  border-bottom: 1px solid #DBDBDB;
}
.detail-center .price-body {
  border-bottom: none;
}
.detail-center .price-body .our{
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #F38436;
}
.detail-center .price-body .our h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.detail-normal {
  margin-top: 34px;
}

/*Testimoni
--------------------------------*/
.testi .row {
  padding: 50px 100px;
}
.testi .row:first-child{
  padding-bottom: 10px;
}
.testi .row:last-child {
  padding-bottom: 80px;
}
.testi .title {
  font-family: 'Raleway';
  font-size: 27px;
  text-align: center;
}
.testi .title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 20px;
  border-bottom: 2px solid #F38436;
  width: 5%;
}
.testi .col-12 p.text-center {
  font-family: 'Open Sans';
  color: #86878B;
}
.testi-contents .col-4 {
  padding-left: 50px;
  padding-right: 50px;
}
.testi-text {
  background-color: #DBDBDB;
  color: #333333;
  border-radius: 5px;
  padding: 30px 20px;
}
.testi-text p {
  margin: 0;
  font-size: 14px;
  color: #333333;
}
.avatar {
  font-family: 'Open Sans';
}
.avatar h5 {
  margin: 0;
  font-weight: bold;
}
.avatar p {
  margin: 0;
  font-size: 14px;
  color: #86878B;
}

/*Stylish Axure Design
------------------------------------*/
.stylish {
  background-image: url(../img/Street1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 1, 20, 0.6);
  color: white;
  font-family: 'Raleway';
}
.stylish .content h4 {
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 40px;
}
.stylish .content h4:after {
  content: '';
  display: block;
  position: relative;
  width: 5%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}
.stylish .content p {
  margin-top: 40px;
  text-align: center;
  font-weight: 300;
  color: #d3d3d3;
}
.stylish .btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stylish a.btn-download3 {
  margin: 0 auto;
  padding: 10px 20px;
  color: white;
  font-family: 'Open Sans';
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  transition: 0.3s ease;
}
.stylish a.btn-download3:hover {
  background-color: white;
  color: black;
}

/*Contact Us
---------------------------------*/
.contact-us .title {
  font-family: 'Raleway';
  font-size: 27px;
  text-align: center;
}
.contact-us .title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 20px;
  border-bottom: 2px solid #F38436;
  width: 5%;
}
.contact-us .col-12 p.text-center {
  font-family: 'Open Sans';
  color: #86878B;
}
.form-input {
  width: 100%;
  padding: 20px 10px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  outline: none;
  font-family: 'Open Sans';
}
.contact-us .btn-submit {
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 30px;
  width: auto;
  border-radius: 3px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

/*Footer
------------------------*/
footer {
  background-color: black;
  padding: 20px;
  color: #d3d3d3;
}
footer p {
  font-family: 'Open Sans';
  margin: 0;
  text-align: center;
  font-size: 12px;
}
footer .social {
  padding: 20px;
  padding-top: 0;
}
footer .social a i {
  padding: 10px;
  transition: 0.3s ease;
}
footer .social a i{
  margin: 0 auto;
  color: #d3d3d3;
  font-size: 25px;
}