html, body {
  color: #08FDD8;
  height: 100%;
}

* {
  font-family: 'Overpass', monospace;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  width: 100%;
}

.page-1 {
  background-color: #1D1D1D;
  position: relative;
}

.page-1 h1 {
  position: absolute;
  top: 80%;
  opacity: 0;
  font-size: 3em;
  letter-spacing: 5px;
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

.page-1 h1::after {
  content: '';
  display: block;
  height: 7px;
  width: 25%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 20px;
  background-color: #08FDD8;
}

.page-1 p {
  font-size: 1.2em;
  margin-bottom: 100px;
  width: 50%;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: #2cbea9;
  position: absolute;
  left: 50%;
  top: 80%;
  opacity: 0;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.page-1 .image {
  position: relative;
}

.page-1 .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-1 .image img::after {
  content: '';
  display: block;
  height: 10px;
  width: 50%;
  margin-top: 20px;
  background-color: #08FDD8;
}

.page-2 {
  position: relative;
  background-color: #1D1D1D;
  color: #08FDD8;
}

.page-2 h1 {
  position: relative;
  margin-top: 75px;
  opacity: 1;
  font-size: 2em;
  letter-spacing: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 75px;
  width: 100%;
  color: #08FDD8;
}

.page-2 h1::after {
  content: '';
  display: block;
  height: 5px;
  width: 15%;
  position: absolute;
  margin-top: 20px;
  background-color: #08FDD8;
}

.text-bold {
  font-weight: bold;
}

.block-text {
  color: #1D1D1D;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #08FDD8;
}

.logo {
  position: absolute;
  display: inline-block;
  right: 0;
  margin: 30px;
}

.logo img {
  max-height: 60px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.right-nav {
  position: relative;
  height: 100%;
  background-color: #181818;
  width: 0px;
  padding: 0;
}

.right-nav ul {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.right-nav ul li a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #08FDD8;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  opacity: 0;
}

.right-nav ul li a:hover {
  background-color: #141414;
}

.right-nav ul li a.active {
  background-color: #141414;
}

.gallery {
  height: calc(100% - 300px);
}

.gallery-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 65px;
}

.gallery-container project-item {
  position: relative;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  height: 50%;
  padding: 10px;
}

.gallery-container project-item.project-full {
  height: 100%;
}

.gallery-container project-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: top;
     object-position: top;
}

.gallery-container project-item .overlay {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gallery-container project-item .hover-content {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.gallery-container project-item .hover-content h5 {
  color: #08FDD8;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-container project-item .hover-content a {
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border-radius: 5px;
  font-size: 1em;
  color: #08FDD8;
}

.gallery-container project-item .hover-content a::before,
.gallery-container project-item .hover-content a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  opacity: 0;
}

.gallery-container project-item .hover-content a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #08FDD8;
  border-right: 3px solid #2cbea9;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.gallery-container project-item .hover-content a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #08FDD8;
  border-left: 3px solid #2cbea9;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.gallery-container project-item .hover-content a:hover:before,
.gallery-container project-item .hover-content a:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery-container project-item:hover .overlay {
  opacity: 1;
}

.gallery-container project-item:hover .hover-content {
  opacity: 1;
  top: 50%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 75px;
  width: 100%;
}

.pagination .pagination-container {
  display: inline-block;
  margin-top: 30px;
}

.pagination .pagination-container button {
  padding: 10px 15px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  color: #08FDD8;
  cursor: pointer;
}

.pagination .pagination-container button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 30%;
  border-bottom: 2px solid #08FDD8;
  border-left: 2px solid #08FDD8;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.pagination .pagination-container button:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 30%;
  width: 30%;
  border-right: 2px solid #08FDD8;
  border-top: 2px solid #08FDD8;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.pagination .pagination-container button:hover:after:not([disabled]), .pagination .pagination-container button:hover:before:not([disabled]) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pagination .pagination-container button.active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 30%;
  border-bottom: 2px solid #08FDD8;
  border-left: 2px solid #08FDD8;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pagination .pagination-container button.active:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 30%;
  width: 30%;
  border-right: 2px solid #08FDD8;
  border-top: 2px solid #08FDD8;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pagination .pagination-container button.disabled {
  cursor: no-drop;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex.flex-50 > div {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-left: 75px;
}

.d-flex.flex-50 > div:last-child, .d-flex.flex-50 > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex.flex-50 > div:first-child h2 {
  margin-top: 20px;
}

.d-flex.flex-50 > div:first-child img {
  border-radius: 50%;
  border: 3px solid #08FDD8;
  max-width: 200px;
  margin-top: 50px;
}

.d-flex.flex-50 > div img {
  -o-object-fit: contain;
     object-fit: contain;
}

.contact {
  margin-top: 50px;
}

.contact ul {
  list-style: none;
}

.contact li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #08FDD8;
  font-size: 1.3em;
  padding: 10px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  position: relative;
}

.contact li a ion-icon {
  margin-right: 7px;
  font-size: 1.4em;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.contact li a:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-left: 4px solid #2cbea9;
  border-top: 4px solid #08FDD8;
  width: 10%;
  height: 50%;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.contact a:hover:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact a:hover#facebook ion-icon {
  color: #4867AA;
}

.contact a:hover#twitter ion-icon {
  color: #00ACED;
}

.contact a:hover#github ion-icon {
  color: #000;
}

.contact a:hover#email ion-icon {
  color: #be4c44;
}

.contact a:hover#instagram ion-icon {
  color: gray;
}

.contact a:hover#linkedin ion-icon {
  color: #0077B7;
}

.wm:hover {
  -webkit-filter: drop-shadow(5px 5px 0px #222);
  filter: drop-shadow(9px 4px 0px #0c9e88);
}

.page-3 {
  position: relative;
  background-color: #1D1D1D;
  color: #08FDD8;
}

.page-3 h1 {
  position: relative;
  margin-top: 75px;
  opacity: 1;
  font-size: 2em;
  letter-spacing: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 75px;
  width: 100%;
  color: #08FDD8;
}

.page-3 h1::after {
  content: '';
  display: block;
  height: 5px;
  width: 15%;
  position: absolute;
  margin-top: 20px;
  background-color: #08FDD8;
}

@media screen and (max-height: 880px) {
  .pagination {
    bottom: 50px;
  }
}

@media screen and (max-height: 820px) {
  .flex-50 > div:last-child {
    display: none !important;
  }
  .profile-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .profile-container > div {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .profile-container > :first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-height: 560px) {
  html {
    font-size: 12px;
  }
  .title {
    margin-bottom: 20px !important;
    margin-left: 45px !important;
    margin-top: 45px !important;
  }
  project-item {
    height: 100% !important;
  }
  .gallery {
    height: 40%;
  }
  .pagination {
    bottom: 10px;
  }
}

@media screen and (max-height: 400px) {
  html {
    font-size: 10px !important;
  }
  .profile img {
    max-width: 150px !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .flex-50 > div:last-child {
    margin-left: 0 !important;
    margin-right: 50px;
  }
  .wm {
    max-width: 80%;
  }
  project-item {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    height: 25% !important;
  }
}

@media screen and (max-width: 768px) and (max-height: 560px) {
  project-item {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  p.sub-title {
    width: 75%;
  }
  .flex-50 > div::last-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
  .scroll-container section {
    width: auto !important;
    height: auto !important;
  }
  section.page-1 {
    height: 400px !important;
  }
  section.page-2 {
    height: 900px !important;
  }
  .hover-content {
    position: relative !important;
    opacity: 1 !important;
    top: auto !important;
    left: auto !important;
    margin-top: 10px;
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  .hover-content a {
    text-align: center !important;
    padding: 0 !important;
  }
  .hover-content h5 {
    margin-bottom: 5px !important;
    text-align: left !important;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.right-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999999;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right-nav ul {
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: inline-block;
    width: auto;
  }
  .right-nav ul li {
    display: inline-block;
  }
  .right-nav ul li a {
    opacity: 1;
    padding: 20px !important;
    font-size: 1.9em;
  }
  .page-description {
    height: 100%;
  }
  .page-1 .title {
    margin-top: 0;
    top: 50px;
    opacity: 1;
    font-size: 2.5em;
    margin-top: 30px !important;
  }
  .page-1 .sub-title {
    opacity: 1;
    top: 230px;
  }
  .dots li a {
    margin-right: 5px;
  }
  html, body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  .pagination {
    bottom: 75px;
  }
  .scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  project-item img {
    height: 70% !important;
  }
  .d-flex.flex-50 {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */