/*Pallete
Blue - #354CC4
*/
/*Global
-----------------------------------*/
button {
	cursor: pointer;
}
.show {
	display: block;
}
.hide {
	display: none;
}
/*Header
-----------------------------------*/
.header {
	height: 100%;
	width: 100%;
	position: relative;
}
.header::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}
.header::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
}
.header form {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translateX(-50%);
}
.btn-search {
	font-family: 'Sans';
	color: #354CC4;
	height: 50px;
	outline: none;
	text-transform: uppercase;
	width: 500px;
	padding-left: 20px;
}
.btn-search::placeholder {
	color: #354CC4;
	font-weight: 500;
}
.btn-icon {
	background-color: #354CC4;
	height: 50px;
	padding: 10px 20px;
}
.btn-icon img {
	max-width: 100%;
	max-height: 100%;
}
.logo {
	font-family: 'Sans';
	position: absolute;
	left: 80px;
	top: 40px;
	font-size: 2em;
	color: #fff;
}
.logo::after {
	content: '';
	display: block;
	width: 50%;
	border-bottom: 3px solid #354CC4;
}
.btn-nav {
	width: 56px;
	height: 20px;
	position: absolute;
	z-index: 99999;
	top: 50px;
	right: 80px;
	background-image: url(../img/nav.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.sidebar-content {
	box-shadow: 3px 12px rgba(0,0,0,0.1);
}

/*Navbar Menu
---------------------------------*/
.navbar-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: rgba(53, 76, 196, 0.5);
	z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
	margin-right: -100%;
}
.navbar-menu ul {
	list-style: none;
	width: 100%;
}
.navbar-menu ul li {
	text-align: center;
}
.navbar-menu ul li a {
	color: #fff;
	display: block;
	padding: 20px;
	font-size: 2em;
	text-decoration: none;
}
.navbar-menu ul li a:hover {
	background-color: rgba(53, 76, 196, 0.8);
}
/*.navbar-menu ul li a::after {
	display: block;
	content: '';
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid #fff;
}*/

/*Sidebar Categories
---------------------------------*/
.sec-title {
	font-size: 1.9em;
	color: #000;
	padding: 5px 0px;
	border-bottom: 2px solid #354CC4;
}
.categories {
	list-style: none;
}
.categories li {
	padding: 12px 0px;
	border-bottom: 1px solid #E6EAED;
}
.categories li a {
	color: #242424;
	text-decoration: none;
}
.categories a:hover {
	color: #354CC4;
}
/*.categories a:hover .categories li {
	background-color: #EFF0F1;
}*/

/*Sidebar Tags
--------------------------*/
.tags {
	margin-top: 50px;
}
.d-flex {
	margin-top: 10px;
	flex-wrap: wrap;
}
.tags .d-flex a {
	color: #242;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #E6EAED;
}
.tags .d-flex a:hover {
	color: #fff;
	background-color: #3853D8;
}
.galleries {
	margin-top: 50px;
}
.galleries .d-flex {
	padding-right: 10px;
}
.galleries .d-flex a {
	position: relative;
	flex: 33.3333%;
}
.galleries .d-flex a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.galleries .d-flex a:hover span{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(56, 83, 216, 0.7);
}


/*Article
--------------------------*/
.post {
	margin-top: 47px;
}
.post + .post {
	margin-top: 60px;
}
.post img {
	width: 100%;
	object-fit: cover;
}
/*.post img:hover {
	filter: grayscale(90%) brightness(120%);
}*/
.post .col-12 {
	position: relative;
}
.post .col-12 .img-overlay, .post .col-6 .img-overlay {
	position: relative;
}
.post .col-12 .img-overlay span, .post .col-6 .img-overlay span{
	transition: .3s ease;
}
.post .col-12 .img-overlay:hover span, .post .col-6 .img-overlay:hover span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(56, 83, 216, 0.5);
}
.post .col-12 .img-overlay:hover .btn-read2 {
	display: block;
}
.post .col-6 .img-overlay:hover .btn-read2 {
	display: block;
}
.post .col-6 {
	position: relative;
}
.post .col-6 a:hover span{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(56, 83, 216, 0.7);
}
.post .date {
	position: absolute;
	top: 20px;
	left: 40px;
	color: #fff;
	padding: 10px;
	text-align: center;
	background-color: rgba(56, 83, 216, 0.7);
}
.post-details {
	font-family: 'Open Sans';
	display: flex;
	margin-top: 5px;
	font-size: 0.8em;
	font-weight: bold;
	align-items: center;
}
.post-details .left {
	flex: 50%;
}
.post-details .right {
	flex: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
h4.detail {
	padding: 0px 5px;
	color: #354CC4;
	font-weight: bold;
}
h4.detail span {
	font-weight: normal;
}
.author {
	width: 24px !important;
	height: 24px;
	border-radius: 50%;
}
.social {
	height: 20px;
  width: auto !important;
  object-fit: contain !important;
}
.post-title {
	font-family: 'Open Sans';
	padding-top: 20px;
	font-size: 1.2em;
}
.btn-read {
	margin-top: 20px;
	padding: 10px 20px;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	background-color: #354CC4;
}
.btn-read2 {
	display: none;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	color: #354CC4;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: .5s ease;
	font-weight: bold;
	transform: translate(-50%, -50%);
}
.btn-read2:hover {
	background-color: rgba(255, 255, 255, 1);
}
.pagination {
	margin-top: 100px;
}
.pagination .page {
	padding: 10px 20px;
	background-color: white;
	color: #354CC4;
	text-decoration: none;
	font-weight: bold;
	transition: .3s ease-in;
}
.pagination .page:hover {
	background-color: #354CC4;
	color: white;
}


/*Newsletter
---------------------------------*/
#newsletter {
	margin-top: 100px;
	height: 400px;
	background-image: url(../img/subscribe.png);
	box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}
#newsletter .subscribe h3 {
	font-size: 1.5em;
}
#newsletter .subscribe p {
	margin-bottom: 40px;
}
#newsletter form input, #newsletter form button {
	opacity: .8;
	height: 80px;
}

footer {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer div {
	margin-top: 100px;
}
footer div + div {
	margin-top: 20px;
	margin-bottom: 30px;
}
footer div a {
	margin: auto 3px;
}
footer div #fb {
	background-color: #3C5A9A;
}
footer div #twitter {
	background-color: #58CCFF;
}
footer div #google {
	background-color: #DE4B39;
}
footer div #fb img,footer div #twitter img,footer div #google img {
	height: 25px;
	width: 25px;
}
footer div h4 {
	font-family: 'Calibri';

}
