.section-contact {
  margin-top: 50px;

  .section-content {
    text-align: center;
  }

  .section-content > a {
    font-family: var(--sf-mono);
    font-weight: bold;
    font-size: .9em;
    display: none;
  }

  .section-contact-title {
    p {
      color: var(--primary-3);
      font-family: var(--sf-mono);
      font-weight: bold;
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: 1.8em;
      color: var(--f-primary-1);
      margin: 20px 0;
    }
  }

  .contact-description {
    color: var(--f-primary-2);
    font-family: var(--sf-pro-regular);
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .contact-links {
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {
      a {
        padding: 20px;
        font-size: 1.5em;
        display: inline-block;
        color: var(--f-primary-2);
        transition: .1s ease-in-out;

        &:hover {
          color: var(--primary-3);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-contact {
    font-size: 17px;

    .section-content > a {
      display: inline-block;
    }
  }

  .contact-links {
    visibility: hidden;
  }
}