@media print {
	body * {
    visibility: hidden;
  }
  body {
  	position: relative;
  }
  .container.mt-3 {
  	visibility: visible;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
  #print, #print *:not(#print-ticket) {
    visibility: visible;
  }
  #print {
    position: absolute;
    left: 0;
    top: 0;
  }
}