@font-face {
    font-family: 'Passion One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Passion One Regular'), url('../fonts/PassionOne-Black.ttf') format('woff');
}
@font-face {
    font-family: 'Passion One Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Passion One Bold'), url('../fonts/PassionOne-Bold.ttf') format('woff');
}
@font-face {
    font-family: 'Viga';
    font-style: normal;
    font-weight: normal;
    src: local('Viga'), url('../fonts/Viga-Regular.ttf') format('woff');
}