* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Apercu Regular';
    background-color: white;
}

header {
    background-color: rgb(230, 230, 230);
    position: relative;
    display: flex;
}

.header-desc {
    margin: 150px 0;
    padding-left: 100px;
}

nav {
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.header-desc h3 {
    font-family: 'Apercu Bold';
    font-size: 2.5em;
}

header img {
    width: 100%;
    object-fit: contain;
}

.navbar-brand span {
    color: rgb(0, 0, 0);
}

.navbar-brand {
    font-family: 'Viga';
    font-size: 1.5em;
    margin-left: 80px;
}

.navbar-nav {
    margin-right: 100px;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(250, 250, 250);
}

section {
    margin: 50px 100px;
}

.text-bold {
    font-family: 'Apercu Bold';
}

.parallax {
    background-image: url(../img/advnture-earth.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 300px;
    margin: 0 !important;
    color: white;
}

.card-left {
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, 0.1);
}

.text-gray {
    color: gray;
}

.backToTop {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(80px);
    transition: .5s ease-out;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.card-left.sticky-top { 
    top: 5em;
    z-index: 0;
}


@media screen and (max-width: 992px) {
    .header-desc {
        margin-left: 0px;
        margin: 80px 0;
        padding-left: 50px;
    }
    .country-data {
        margin-top: 30px;
    }
    .page-number {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: .8em;
    }
    section {
        margin: 30px 50px;
    }
    .navbar-brand {
        margin-left: 30px;
    }
    .navbar-toggler-icon {
        color: #000;
    }
    .parallax {
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: .6em;
    }
    .header-desc {
        margin: 20px;
        margin-left: 20px;
        padding: 20px;
    }
    header img {
        margin: 20px;
        width: 70% !important;
    }
    section {
        margin: 30px;
    }
    main {
        padding-top: 20px;
    }
}